
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">    
    <title>Ebru İşbecerir</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="~/GlamHaven/css/bootstrap.min.css">    
    <link rel="stylesheet" href="~/GlamHaven/css/style.css">   
    <link rel="stylesheet" href="~/GlamHaven/css/responsive.css">  
    <link rel="icon" href="~/GlamHaven/images/fevicon" type="image/gif" />    
    <link rel="stylesheet" href="~/GlamHaven/css/jquery.mCustomScrollbar.min.css">   
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body class="main-layout">   
    <div class="loader_bg">
        <div class="loader"><img src="~/GlamHaven/images/loading.gif" alt="#" /></div>
    </div>    
    <header>       
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#index.html"> AnaSayfa </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#service">Hizmetlerimiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#about">Hakkımızda</a>
                                    </li>


                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="index.html"><img src="~/GlamHaven/images/logo.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5">
                        <ul class="email">
                            <li><a href="#">İletişim: 05445205534</a></li>
                            <li><a href="#">Mail: ebru.isbecerir@gmail.com</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>   
    <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Hoş Geldiniz</span>
                                        <h1>Glam Haven</h1>
                                        <p>2008 yıllardan bu güne profesyonel bayan kuaför ekibiyle hizmet vermekteyiz. Önceliğimiz müşteri memnuniyeti ve rahatlığıdır.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/GlamHaven/images/girl.png.jpg" width="20" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Hoş Geldiniz</span>
                                        <h1>Glam Haven</h1>
                                        <p> Tüm İstanbul'a bakım hizmeti sunan güzellik merkezimiz, her geçen gün büyüyüp genişliyor. Kendini sürekli olarak büyüyen ve geliştiren firmamız, deneyimli ve atılgan çalışan kadrosu ile harikalar yaratmaya devam ediyor.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/GlamHaven/images/girl.png.jpg" width="20" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Hoş Geldiniz</span>
                                        <h1>Glam Haven</h1>
                                        <p> Firmamız, her hizmetinde mutlaka marka ürünler tercih etmekte ve bu ürünleri kullanırken hijyen kurallarına uymaktadır.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/GlamHaven/images/girl.png.jpg" width="20" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>      
    
    @RenderBody()
    <footer id="contact">
        <div class="footer">
            <div id="contact" class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titlepage">
                                <h2 style="padding-left:150px" > <img src="~/GlamHaven/images/head.h.png" alt="#" /> İstek ve Geri Dönüşleriniz İçin</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form id="request" class="main_form">
                                <div style="padding-left:150px; padding-top:50px"  class="row">
                                    <div class="col-md-12 ">
                                        <input class="contactus" placeholder="İsim" type="text" name="Name">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="contactus" placeholder="Mail" type="email" name="Email">
                                    </div>
                                    <div class="col-md-12">
                                        <input class="contactus" placeholder="Numara" type="tel" name="Phone Number">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="textarea" placeholder="Mesaj" type="text" Message="Name">Message </textarea>
                                    </div>
                                    <div class="col-sm-col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <button class="send_btn">Gönder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-12">
                        <div class="row">
                            <div class="col-md-7 padd_bottom">
                                <div class="heading3">
                                    <a href="#"><img src="~/GlamHaven/images/logo1.png" width="70" height="100" alt="#" /></a>
                                    <p>Son moda trendlerini yakından takip ederek müşterilerimize en yeni saç modelleri ve makyaj tekniklerini sunmaktayız. Müşterilerimizin ihtiyaçlarına ve tercihlerine göre kişiselleştirilmiş hizmetler sunarak, her müşterinin kendilerine özel hissetmelerini sağlamaktayız.</p>
                                </div>
                            </div>
                            <div class="col-md-5 padd_bottom padd_bott">
                                <div class="heading3">
                                    <h3>Bize Ulaşın</h3>
                                    <ul class="infometion">
                                        <p>En iyi önerileri ve en iyi hizmeti almak istiyorsanız randevu sistemi ile müşterilerine hizmet vermekte olan firmamız arayarak ilk bakım randevunuzu hemen alarak bakıma gelebilirsiniz.</p>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12">
                        <div class="row">
                            <div class="col-md-6 offset-md-1 padd_bottom">
                                <div class="heading3">
                                    <h3>BİLGİ</h3>
                                    <ul class="infometion">
                                        <li><a href="#"> Gsm: 0544 520 55 34</a></li>
                                        <li><a href="#"> Mail: ebru.isbecerir@gmail.com</a></li>
                                        <li><a href="#">Adres: Nişantaşı Mahallesi Vali Konağı Caddesi Orhan Ersek Sokak No:3A Şişli/İstanbul</a></li>
                                        <li><a href="#">Hizmetlerimiz İçin Lütfen Bizimle İletişime Geçiniz Teşekkürler. </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">

                </div>
            </div>
        </div>
    </footer>
    
    <script src="~/GlamHaven/js/jquery.min.js"></script>
    <script src="~/GlamHaven/js/popper.min.js"></script>
    <script src="~/GlamHaven/js/bootstrap.bundle.min.js"></script>
    <script src="~/GlamHaven/js/jquery-3.0.0.min.js"></script>
    
    <script src="~/GlamHaven/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/GlamHaven/js/custom.js"></script>
    <script>
         $('a[href^="#"]').on('click', function(event) {

          var target = $(this.getAttribute('href'));

          if( target.length ) {
              event.preventDefault();
              $('html, body').stop().animate({
                  scrollTop: target.offset().top
              }, 2000);
          }

         });
    </script>
   
    
</body>
</html>


